<template>
  <div id="app">
    <a-input placeholder="请输入任务" class="my_ipt" :value="inputVal" @change="addTaskInput" />
    <a-button type="primary" @click="addTaskBtn">添加事项</a-button>

    <a-list bordered :dataSource="switchMenuInfo" class="dt_list">
      <a-list-item slot="renderItem" slot-scope="item">
        <!-- 复选框 -->
        <a-checkbox :checked="item.done" @change="(e) => {checkTask(e, item.id)}">{{item.info}}</a-checkbox>
        <!-- 删除链接 -->
        <a slot="actions" @click="delTask(item.id)">删除</a>
      </a-list-item>

      <!-- footer区域 -->
      <div slot="footer" class="footer">
        <!-- 未完成的任务个数 -->
        <span>{{undoneShow}}条剩余</span>
        <!-- 操作按钮 -->
        <a-button-group>
          <a-button :type="viewKey == 'all' ? 'primary' : 'default'" @click="switchMenu('all')">全部</a-button>
          <a-button :type="viewKey == 'undone' ? 'primary' : 'default'" @click="switchMenu('undone')">未完成</a-button>
          <a-button :type="viewKey == 'done' ? 'primary' : 'default'" @click="switchMenu('done')">已完成</a-button>
        </a-button-group>
        <!-- 把已经完成的任务清空 -->
        <a @click="delDonedAll">清除已完成</a>
      </div>
    </a-list>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
  export default {
    name: 'app',
    data() {
      return {

      }
    },
    methods: {
      // 点击任务项选择完成任务或未完成任务
      checkTask(e, id) {
        let params = {
          checked: e.target.checked,
          id
        }
        // 调用mutation中的checkTask方法改变任务项状态
        this.$store.commit('checkTask', params)
      },
      // 同步输入的框的内容到state
      addTaskInput(event) {
        // console.log(event.target.value);
        this.$store.commit('syncAddInput', event.target.value)
      },
      // 点击添加任务项按钮
      addTaskBtn() {
         this.$store.commit('addTask')
      },
      // 删除任务项
      delTask(id) {
        this.$store.commit('delTask', id)
      },
      // 删除已完成的任务项
      delDonedAll() {
        this.$store.commit('delDonedAll')
      },
      // 切换菜单
      switchMenu(viewKey) {
        this.$store.commit('switchMenu', viewKey)
      }
    },
    mounted() {
      // 调用store中actions的方法获取list数据存储到state中
      this.$store.dispatch('initListData')
    },
    computed: {
      // 从store获取state中指定的数据
      ...mapState(['list', 'inputVal', 'viewKey']),
      // 从store获取getters中指定的数据
      ...mapGetters(['undoneShow', 'switchMenuInfo'])
    }
  }
</script>

<style scoped>
  #app {
    padding: 10px;
    margin-top: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .my_ipt {
    width: 500px;
    margin-right: 10px;
  }

  .dt_list {
    width: 500px;
    margin-top: 10px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>